/*글꼴*/
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #E9EFDE;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.back-button {
    top: 60px;
    left: 50px;
    position: absolute;
    background-color: transparent;
    width: 60px;
    border: none;
}

.back {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 1200px;
    margin-top: 70px;
    padding: 20px;
    box-sizing: border-box;
}

.book-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.book-section img {
    width: 75%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    width: 100%;
}

.book-info {
    text-align: center;
}

.book-thumbnail {
    max-width: 100%;
    height: auto;
}

#book-title{
    font-family: "Nanum Gothic", sans-serif;
    margin-top: 7px;
    font-size: 25px;
}

#book-authors{
    font-family: "Nanum Gothic", sans-serif;
    margin-top: -5px;
    font-size: 17px;
}

/* 입력받는 구간 */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#book-report {
    width: 100%;
    height: 400px;
    padding: 15px;
    box-sizing: border-box;
    resize: none;
    border: none;
    border-radius: 7px;
    font-family: "Nanum Gothic", sans-serif;
}

#submit-report {
    margin-top: 20px;
    padding: 10px 70px;
    background-color: #60734A;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Nanum Gothic", sans-serif;
}